--extra-index-url https://download.pytorch.org/whl/cpu
torch+cpu
torchvision+cpu
opencv-python-headless

fastapi
uvicorn
gunicorn
pandas
pydantic
requests
python-dotenv
firebase-admin
apscheduler
pywebpush
easyocr